/* fonts */
/* bebas-neue-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/bebas-neue-v16-latin-regular.woff2') format('woff2');
}
/* sometype-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/sometype-mono-v4-latin-regular.woff2') format('woff2');
}

:root {
  --black: #121312;
  --orange: #ff9b51;
  --grey: #191818;
  --white: #e8d8c4;
  --yellow: #fcc714;
  --green: #02c66d;
  --red: #ea3b64;
  --blue: #00a0cc;

  /* tamaños */
  --b-radius: 50px;
  --global-margin: 5rem;
  --foreground: 5rem;
  --separation: clamp(4rem, 8vw, 10rem);

  /* Borders & Shadows */
  --b-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  --border: 1px solid var(--white);

  /* Fonts */
  --font-main: 'Sometype Mono', Helvetica, sans-serif;
  --font-header: 'Bebas Neue', Helvetica, sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);

  font-family: var(--font-main);
  font-size: 16px;
  margin-inline: clamp(1rem, 5vw, 80px);
}
@media (min-width: 1600px) {
  body {
    margin-inline: 150px;
  }
}

p {
  /* font-size: 0.7lh; */
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-header);
  text-wrap: balance;
}
h1 {
  font-size: clamp(2.5rem, 12vw, 14rem);
  margin-bottom: var(--foreground);
  text-align: center;
}
h2 {
  font-size: clamp(2rem, 12vw, 6rem);
}

hgroup {
  margin-top: var(--separation);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.main-header {
  position: sticky;
  top: var(--global-margin);
  margin: 2rem 0;
  z-index: var(--foreground);
}

.main-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  background-color: rgba(199, 198, 197, 0.2);
  border: var(--border);
  border-radius: var(--b-radius);
  padding: 1rem;
  backdrop-filter: blur(10px);

  li a,
  li a svg {
    transition: color 250ms ease;
  }

  li a:hover {
    cursor: pointer;
    color: var(--green);
    text-decoration: none;
  }

  .sections-link:hover {
    color: var(--yellow);
  }

  .report-link:hover {
    color: var(--red);
  }

  .home-icon:hover {
    color: var(--blue);
  }
}

/* Hero */
.hero {
  h1 {
    align-self: center;
    transition: color 0.3s ease;
  }

  p {
    font-size: 1.45lh;
    align-self: center;
  }
}

@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Bento */
.main-section {
  hgroup {
    p {
      margin: 0 0 2rem 0;
    }
  }
}
.bento {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.bento > * {
  grid-column: auto;
  grid-row: auto;
}

@media (min-width: 768px) {
  .bento {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .bento {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .card-3 {
      grid-column: 3 / 5;
      grid-row: auto;
    }

    .card-4 {
      grid-row: 2 / 4;
    }

    .card-5 {
      grid-column: 2 / 4;
    }

    .card-7 {
      grid-column: 2 / 4;
    }
  }
}

.bento-card {
  border-radius: 10px;
  background-color: var(--grey);
  border-left: 6px solid var(--white);
  border-bottom: 3px solid var(--white);

  cursor: pointer;
  transition:
    border-left 300ms ease,
    border-bottom 300ms ease,
    scale 300ms ease;

  &:hover {
    border-left: 6px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    transform: scale(1.025);
  }

  &:nth-child(2n):hover {
    border-left: 6px solid var(--green);
    border-bottom: 3px solid var(--green);
    transform: scale(1.025);
  }
  &:nth-child(3n):hover {
    border-left: 6px solid var(--red);
    border-bottom: 3px solid var(--red);
    transform: scale(1.025);
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    header span {
      font-size: 2.5rem;
    }
  }
}

/* About */
.about-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .about-card {
    border-radius: 10px;
    padding: 1rem;
  }

  .card-about-1 {
    border-left: 6px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
  }

  .card-about-2 {
    border-left: 6px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
  }

  .card-about-3 {
    border-left: 6px solid var(--red);
    border-bottom: 3px solid var(--red);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
  }
}
/* Footer */

.main-footer {
  margin: calc(var(--separation) * 2) 0 var(--separation);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 25px;
    height: 25px;
    display: inline;
    margin-inline: 10px;
    fill: transparent;
    stroke: var(--red);
    transition: stroke 250ms;

    &:hover {
      fill: var(--red);
      cursor: pointer;
    }
  }

  a {
    margin-inline: 5px;
    cursor: pointer;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
      color: var(--white);
    }

    &:hover {
      color: var(--green);
      text-decoration: underline;
    }
  }
}
