/* fonts */
/* bebas-neue-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/bebas-neue-v16-latin-regular.woff2") format("woff2");
}
/* sometype-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Sometype Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/sometype-mono-v4-latin-regular.woff2") format("woff2");
}

:root {
  --black: #121312;
  --orange: #ff9b51;
  --grey: #191818;
  --white: #e8d8c4;
  --yellow: #fcc714;
  --green: #02c66d;
  --red: #ea3b64;
  --blue: #00a0cc;

  --b-radius: 50px;
  --global-margin: 5rem;

  --b-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  --border: 1px solid var(--white);

  --foreground: 5;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem var(--global-margin);
}

/* Header */
.main-header {
  font-family: "Sometype Mono", Helvetica, sans-serif;
  position: sticky;
  top: var(--global-margin);
  margin: 2rem 0 0 0;
  z-index: var(--foreground);
}

.main-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  background-color: var(--white) / 60%;
  border: var(--border);
  border-radius: var(--b-radius);
  padding: 1rem;
  backdrop-filter: blur(10px);

  li a,
  li a svg {
    transition: color 250ms ease;
  }

  li a:hover {
    cursor: pointer;
    color: var(--green);
    text-decoration: none;
  }

  .sections-link:hover {
    color: var(--yellow);
  }

  .report-link:hover {
    color: var(--red);
  }

  .home-icon:hover {
    color: var(--blue);
  }
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--global-margin);

  hgroup {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  h1 {
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-size: 14rem;
    align-self: center;
    transition: color 0.3s ease;
  }

  p {
    font-family: "Sometype Mono", Helvetica, sans-serif;
    font-size: 2.15rem;
    align-self: center;
  }
}

@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Bento */
.main-section {
  margin: var(--global-margin);
  hgroup {
    font-family: "Bebas Neue", Helvetica, sans-serif;

    h2 {
      font-size: 6rem;
    }

    p {
      font-family: "Sometype Mono", Helvetica, sans-serif;
      font-size: 1rem;
      margin: 0 0 2rem 0;
    }
  }
}

.bento {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  .card-3 {
    grid-column: 3 / 5;
    grid-row: auto;
  }

  .card-4 {
    grid-row: 2 / 4;
  }

  .card-5 {
    grid-column: 2 / 4;
  }

  .card-7 {
    grid-column: 2 / 4;
  }
}

.bento-card {
  border-radius: 10px;
  background-color: var(--grey);
  border-left: 6px solid var(--white);
  border-bottom: 3px solid var(--white);

  cursor: pointer;
  transition:
    border-left 300ms ease,
    border-bottom 300ms ease,
    scale 300ms ease;

  &:hover {
    border-left: 6px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    transform: scale(1.025);
  }

  &:nth-child(2n):hover {
    border-left: 6px solid var(--green);
    border-bottom: 3px solid var(--green);
    transform: scale(1.025);
  }
  &:nth-child(3n):hover {
    border-left: 6px solid var(--red);
    border-bottom: 3px solid var(--red);
    transform: scale(1.025);
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    header span {
      font-family: "Bebas Neue", Helvetica, sans-serif;
      font-size: 2.5rem;
    }

    .paragraph-container p {
      font-family: "Sometype Mono", Helvetica, sans-serif;
    }
  }
}

/* About */
.about-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  h3 {
    font-family: "Bebas Neue", Helvetica, sans-serif;
  }

  p {
    font-family: "Sometype Mono", Helvetica, sans-serif;
  }

  .about-card {
    border-radius: 10px;

    padding: 1rem;
  }

  .card-about-1 {
    border-left: 6px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
  }

  .card-about-2 {
    border-left: 6px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
  }

  .card-about-3 {
    border-left: 6px solid var(--red);
    border-bottom: 3px solid var(--red);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
  }
}
/* Footer */

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sometype Mono", Helvetica, sans-serif;
  }

  svg {
    width: 25px;
    height: 25px;
    display: inline;
    margin-inline: 10px;
    fill: transparent;
    stroke: var(--red);
    transition: stroke 250ms;

    &:hover {
      fill: var(--red);
      cursor: pointer;
    }
  }

  a {
    margin-inline: 5px;
    cursor: pointer;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
      color: var(--white);
    }

    &:hover {
      color: var(--green);
      text-decoration: underline;
    }
  }
}
